
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #78AB46;
    --secondary-color: #013220;
    --dark-color: green;
    --light-color: lightgray;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Lato';
    color:#333;
    line-height:1.6
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:#333
}

h1,h2 {
    font-weight: 300;
    line-height:1.2;
    margin: 10px 0;
}

img {
    width:100%;
}

/*nav bar styles */

.navbar {
    background-color: black;
    color: white;
  height: 100%;
}

.navbar-inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

/*.navbar .navbar-inner .links-nav a {*/
/*    color: white;*/
/*}*/

.navbar .navbar-inner img {
    height: 80px;
    width: 80px;
    border-radius: 60px;
}


.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 2px black solid;
    text-decoration: none;
}



.navbar .flex {
    justify-content: space-between;
}

/* Showcase/ hero banner*/

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase:before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}


.showcase-form {
    position: relative;
    top: 60px;
    /*height: 350px; !* pushes form out of container - fix by setting overflow to visible*!*/
    width: 400px;
    padding: 40px;
    z-index: 100;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form textarea {
    border: 0;
    border-bottom: 1px solid #b4becb;
    padding: 15px;
    font-size: initial;
    width: 100%;
}

.showcase-form input:focus,
.showcase-form textarea:focus {
     outline:none;
}


.showcase h1 {
    font-size: 40px;
    font-weight: bold;
}

.showcase p {
    margin:20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

/*Services*/
.services {
    padding-top: 100px;
}

.services-heading {
    max-width: 500px;
    margin: auto;
}

/*Covid Safe*/


.covid-safe {
    background-color: var(--primary-color);
}

.about .card {
    height: 300px;
    width: 330px;
}

.card-wrapper{
    flex:1
}

.about .quote {
    flex: 1;
}

/*testimonials*/

.testimonials .flex {
    flex-wrap: wrap;
    /*wraps cards onto next row */

}
.testimonials .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    width: 255px;
    /*height: 236px;*/
}

.testimonials .card img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position:relative;
}

.img-container {
    display: block;
    text-align: center;
    position: relative; /*needed this for the line to go behind image*/
}

.img-container::before {
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: lightgray;
}

.testimonials .card p {
    font-size: 13px;
    margin-bottom: 10px;
    height: 80px;
}

.testimonials .card:hover {
    transform: translateY(-15px)
}

/* footer styles*/
.footer .social  a {
    margin: 0 10px;
    color: white;
}


/* Utilities*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    /*border: 1px solid;*/
    overflow: auto;
    padding: 0 40px;
}

.text-center {
    text-align: center;
}


.flex {
    display:flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%; /* 100% of it's container - .showcase*/
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    color: #333;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin:10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px white solid;
}

.btn:hover {
    transform:scale(0.90);
}

/* media queries
*/

/* tablet*/

@media(max-width: 768px){
    .grid,
    .showcase .grid {
        grid-template-columns: 1fr;
    }

    .showcase {
        height: auto; /* this takes the height of the container */

    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        width: 400px;

    }
}

@media(max-width: 400px){
    .showcase-form {
        width: 100%;
    }
}


/* this takes the height of the container /*
/* mobile*/

@media(max-width: 700px) {
    .navbar {
        background-color: var(--primary-color);
    }

    .navbar-inner {
        flex-direction: column;
    }

    .navbar-inner {
        padding: 10px;
    }

    .navbar-inner img {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }

    .links-nav {
        padding: 10px;
        background-color: black;
    }
}
/* margin */


.my-1 {
    margin: 1rem 0; /* css unit that is multiplier of root element font size - html tag which is default 16 pixels 16*1 */
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}


.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}


/* padding */

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding:3rem;
}

.p-5 {
    padding: 4rem;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding:3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.bold {
    font-weight:bold;
}



/*backgrounds and coloured buttons*/

.bg-primary,
.btn-primary {
    background-color: var(--primary-color);
    color: white;
}
.bg-secondary,
.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
}
.bg-dark,
.btn-dark {
    background-color: var(--dark-color);
    color: white;
}
.bg-light,
.btn-light {
    background-color: var(--light-color);
    color: white;
}

.bg-secondary,
.btn-secondary {
    background-color: var(--primary-color);
    color: white;
}

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size:4px;
}

/*links*/

.bg-primary a,
.btn-primary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a,
.bg-light a,
.btn-light a,
.bg-secondary a,
.btn-secondary a {
    color: white;
}

/*icons*/
.fas {
    color: var(--primary-color);
}


