
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

:root {
    --primary-color: #78AB46;
    --secondary-color: #013220;
    --dark-color: green;
    --light-color: lightgray;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato';
    color:#333;
    line-height:1.6
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:#333
}

h1,h2 {
    font-weight: 300;
    line-height:1.2;
    margin: 10px 0;
}

img {
    width:100%;
}

fieldset {
    border: 0;
}


/*nav bar styles */

.navbar {
    background-color: black;
    color: white;
  height: 100%;
}

.navbar-inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navbar .navbar-inner img {
    height: 80px;
    width: 80px;
    border-radius: 60px;
    padding: 5px;
}


.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 2px black solid;
    text-decoration: none;
}

.navbar .flex {
    justify-content: space-between;
}


/* Showcase/ hero banner*/

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase:before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.showcase-form {
    position: relative;
    top: 60px;
    /*height: 350px; !* pushes form out of container - fix by setting overflow to visible*!*/
    width: 400px;
    padding: 40px;
    z-index: 100;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form textarea {
    border: 0;
    border-bottom: 1px solid #b4becb;
    padding: 15px;
    font-size: initial;
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}

.showcase-form input:focus,
.showcase-form textarea:focus {
     outline:none;
}

.showcase h1 {
    font-size: 40px;
    font-weight: bold;
}

.showcase p {
    margin:20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}



/*Services*/
.services {
    padding-top: 100px;
}

.services-heading {
    max-width: 500px;
    margin: auto;
}


/*Covid Safe*/

.covid-safe {
    background-color: var(--primary-color);
}

.about .card {
    height: max-content; /*so the image of the owner does not overflow height wise - replaced height:300px*/
    width: 330px;
}

.card-wrapper{
    flex:1
}

.about .quote {
    flex: 1;
}

/*testimonials*/

.testimonials .flex {
    flex-wrap: wrap;
    /*wraps cards onto next row */
}

.testimonials .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    width: 255px;
    /*height: 236px;*/
}

.testimonials .card img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position:relative;
}

.img-container {
    display: block;
    text-align: center;
    position: relative; /*needed this for the line to go behind image*/
}

.img-container::before {
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: lightgray;
}

.testimonials .card p {
    font-size: 13px;
    margin-bottom: 10px;
    height: 80px;
}

.testimonials .card:hover {
    transform: translateY(-15px)
}

/* footer styles*/
.footer .social  a {
    margin: 0 10px;
    color: white;
}

/*mobile swiper*/

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.swiper-slide img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative
}
