/* media queries
*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 700px) {  /* dont  mobile testimonials when screen larger than  700px screen width*/
    #mobile-testimonials {
        display: none;
    }
}

/* tablet*/

@media(max-width: 768px){
    .grid,
    .showcase .grid {
        grid-template-columns: 1fr;
    }

    .showcase {
        height: auto; /* this takes the height of the container */
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        width: 400px;
    }

}


@media(max-width: 400px){
    .showcase-form {
        width: 100%;
    }
}


/* this takes the height of the container /*
/* mobile*/

@media(max-width: 700px) {
    .navbar {
        background-color: var(--primary-color);
    }

    .navbar-inner {
        flex-direction: column;
    }

    .navbar-inner {
        padding: 10px;
    }

    .navbar-inner img {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }

    .links-nav {
        padding: 10px;
        background-color: black;
    }

    .about-inner {
        display: block;
    }

    .about .card {
        width: auto;
    }

    #desktop-testimonials { /* dont show desktop testimonials a before 700px screen width show when bigger*/
        display: none;
    }
}
